:root {
  --primary-color: #BF8F00;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* General */
a, article, aside, body, center, div, footer, form, h1, h2, h3, h4, h5, h6, header, i, img, li, menu, nav, ol, p, section, span, strong, ul {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, footer, header, menu, nav, section {
  display: block;
}

ol,ul {
  list-style: none;
}

body  {
  font-family: 'Museo Sans', sans-serif;
  font-size: 125%;
  background: #f2f2f2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #333;
  position: relative;
}

a  {
  text-decoration: none;
  color: white;
}

/* Wireframe */

.outerWrapper {
  width: calc(100% - 90px);
  margin-left: 90px;
  overflow: hidden;
}

.innerWrapper {
  padding: 0 33px;
  max-width: 1140px;
  margin: 0 auto;
}


/* Side Menu */

.menuButton {
  cursor: pointer;
  position: fixed;
  height: 30px;
  width: 35px;
  padding: 10px;
  top: 35px;
  right: 25px;
  z-index: 20;
  display: none;
}

.menuButton:focus {
  border: 2px solid var(--primary-color);
}

.menuButton .linesContainer {
  position: relative;
}

.menuButton .linesContainer span, .menuButton .linesContainer span:before, .menuButton .linesContainer span:after {
  border-radius: 5px;
  width: 25px;
  height: 2px;
  background-color: black;
  position: absolute;
  display: block;
  content: '';
}

.menuButton .linesContainer span {
  top: 3px;
  left: -6px;
}

.menuButton .linesContainer span:before {
  top: -10px;
}

.menuButton .linesContainer span:after {
  bottom: -10px;
}

.sideMenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 105px;
  height: 100vh;
  background-color: var(--primary-color);
  position: fixed;
  color: white;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  z-index: 10;
}

.sideMenu p {
  text-align: center;
  padding: 30px 15px;
  font-size: 14px;
  letter-spacing: 1px;
  font-weight: 300;
  background-color: #f7f7f7;
}

.sideMenu nav {
  padding: 26px;
}

.sideMenu nav a {
  padding: 13px 17px;
  display: inline-block;
  margin-bottom: 10px;
  -webkit-transition-duration: 0.25s;
          transition-duration: 0.25s;
  border-radius: 6px;
  width: 100%;
  position: relative;
}

.sideMenu nav a span {
  font-size: 12px;
  font-weight: 300;
  letter-spacing: 2px;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  position: absolute;
  left: 55px;
  top: 18px;
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
}

.sideMenu nav a:hover, .sideMenu nav a:focus {
  background-color: #d9a200;
  -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.2);
          box-shadow: 0 14px 28px rgba(0, 0, 0, 0.2);
}

.sideMenu .scrollDown {
  height: 50px;
  position: relative;
  left: 35px;
}

.sideMenu .scrollDown .lni-arrow-down {
  line-height: 1.2;
  font-size: 12px;
}

.sideMenu .scrollDown .scrollDownText {
  font-size: 14px;
  position: absolute;
  top: 5px;
  left: 30px;
  font-weight: 300;
}

.hoverMenu {
  width: 220px;
}

.menuShow {
  display: block;
}

.menuHide {
  display: none;
}

.sideMenuHide {
  left: -300px;
}

.sideMenuShow {
  left: 0;
}

.visuallyHidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden;
}

/* Header */

header {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

header .profileContainer {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 50%;
      flex: 0 0 50%;
  padding: 0 15px;
  width: 100%;
}

header .profileHeadshot {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
    -ms-flex-pack: center;
        justify-content: center;
  position: relative;
}

header .profileContainer img {
  width: 350px;
  height: 350px;
}

header .profileContainer h1 {
  font-size: 32px;
  margin: 24px 0;
}

header .profileContainer h1 span{
  color: var(--primary-color);
}

header .profileContainer .resume {
  margin-top: 30px;
}

header .profileContainer .resumeLink {
  background-color: var(--primary-color);
  padding: 10px 30px;
  border-radius: 15px;
  font-size: 12px;
}

/* Section */

section {
  padding: 40px 0;
}

.sectionHeader {
  margin-bottom: 40px;
}

.sectionHeader span {
  padding-bottom: 20px;
  display: block;
  font-size: 12px;
  text-transform: uppercase;
  position: relative;
  padding-left: 60px;
  letter-spacing: 1px;
}

.sectionHeader span::before {
  content: "";
  position: absolute;
  left: 0;
  top: 4px;
  width: 40px;
  height: 1px;
  background: #4d4d4d;
}

.sectionHeader h2 {
  font-weight: 700;
  color: var(--primary-color);
  font-size: large;
  letter-spacing: 2px;

}

.sectionContainer {
  background-color: white;
  border-radius: 15px;
  padding: 48px;
}

/* About Section */

.aboutContainer p span {
  color: var(--primary-color);
}

/* Projects Section */

.projectCard {
  position: relative;
  background: #3d3d3d;
  border-radius: 15px;
  overflow: hidden;
  display: flex;
  margin-top: 40px;
}

.projectCard::before {
  content: "";
  position: absolute;
  top: -50%;
  width: 100%;
  height: 100%;
  background: var(--primary-color);
  transform: skewY(345deg);
  transition: 0.5s;
}

.projectCard:hover::before {
  top: -70%;
  transform: skewY(375deg);
}

.projectCard::after {
  position: absolute;
  bottom: 0;
  left: 0;
  font-weight: 600;
  font-size: 6em;
  color: rgba(0, 0, 0, 0.1);
}

.projectCard .projectImgBox {
  position: relative;
  justify-content: center;
  align-items: center;
  padding: 20px;
  z-index: 1;
  flex: 0 0 350px;
}

.projectCard .projectImgBox img {
  width: 100%;
  border-radius: 15px;
}
.projectCard .projectContentBox {
  position: relative;
  padding: 20px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 2;
  flex: 0 1 calc(100% - 350px);
}

.projectCard .projectContentBox h3 {
  font-size: 18px;
  color: white;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding-bottom: 10px;
}

.projectCard .projectContentBox .details {
  font-size: 14px;
  color: white;
  font-weight: 500;
  letter-spacing: 1px;
}

.projectCard .projectContentBox .projectLinks {
  margin-top: 30px;
}

.projectCard .projectContentBox .projectLinks a {
  background-color: white;
  padding: 10px 30px;
  border-radius: 15px;
  font-size: 14px;
  color: var(--primary-color);
}




/* Skill Section */

.skillsContainer {
  text-align: center;
  font-size: 12px;
}

.skillsGrid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(80px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(80px, 1fr));
  grid-column-gap: 50px;
  grid-row-gap: 50px;
}

.skillsGrid li {
  background-color: white;
  padding: 10px;
  border-radius: 15px;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  -webkit-box-shadow: 0px 4px 8px rgba(134, 151, 168, 0.1);
          box-shadow: 0px 4px 8px rgba(134, 151, 168, 0.1);
  border: 1px solid #eee;
}

.skillsGrid li:hover {
  -webkit-box-shadow: 0px 10px 28px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 10px 28px rgba(0, 0, 0, 0.2);
}

.skillsGrid li p {
  margin-top: 10px;
}

.skillsGrid li img {
  width: 35px;
  height: 35px;
}

/* Contact Section */

.contactContainer i {
  color: #4d4d4d;
  padding-right: 5px;
}

.contactContainer a {
  color: var(--primary-color);
  text-decoration: none;
}

.contactTypes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  justify-content: space-around;
}

.contactTypes .contactBox {
  -webkit-box-shadow: 0px 4px 8px rgba(134, 151, 168, 0.1);
          box-shadow: 0px 4px 8px rgba(134, 151, 168, 0.1);
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  border: 1px solid #eee;
  padding: 24px;
  border-radius: 15px;
}

/*   MIN WIDTH 991PX  */
@media (min-width: 991px) {
  .navItemName {
    display: none;
  }
  .sideMenu:hover {
    width: 220px;
  }
  .sideMenu:hover .navItemName {
    display: block;
  }
}


/*   MAX WIDTH 900PX  */
@media (max-width: 990px) {
  .outerWrapper {
    width: 100%;
    margin-left: 0;
  }
  .sideMenu {
    width: 220px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .sideMenu nav {
    margin-top: 40px;
  }
  .menuButton {
    display: block;
  }
  header {
    display: block;
    padding: 80px 0;
    height: auto;
  }
  header .heroDescription {
    text-align: center;
    margin-top: 50px;
  }
  header .heroDescription .socialsResume {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .socialsList {
    margin-left: 10px;
  }
} 

/*   MAX WIDTH 767PX  */
@media (max-width: 767px) {
  .contactTypes {
    display: block;
  }

  .projectCard {
    display: block;
  }

  .contactBox {
    margin-top: 5px;
  }

  .contactBox a {
    font-size: 12px;
  }